<section class="main-header col-xs-8 col-xs-offset-2">
  <img src="<%= asset_path "FaceBook_clone_top.png" %>">
</section>
<div class="col-xs-8 col-xs-offset-2 text-left">
  <section class="about">
    <h2>About FaceBook_clone</h2>
    <p>
       - FaceBook_clone is Application like Facebook<br>
       - Share text and picture, Follow Friends.<br>
       <p></p>
       <%= link_to "Start", topics_path,class: 'btn btn-primary' %>
    </p>
  </section>
</div>